body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: rgb(226, 223, 220);
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display:flex; 
  align-items:center;
  justify-content:center;
  width:700px; 
  height:700px; 
  /* margin-left: 300px; */
}

.wrapper {
  background-color: rgba(255, 225, 185, 0.981);
  color: black;
  padding: 60px 15px 15px 5px;
  border-radius: 15px;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;

}
